name: Stable Images
on:
  merge_group:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "deployment/**"
      - ".github/workflows/*iso*"
      - ".github/workflows/*disk-image*"
      - "just/*.just"
  workflow_call:
  workflow_dispatch:

jobs:
  build-image-stable:
    name: Build Stable Images
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        brand_name: ["tholdyos"]
    with:
      #kernel_pin: 6.14.11-300.fc42.x86_64 ## This is where kernels get pinned.
      brand_name: ${{ matrix.brand_name }}
      stream_name: stable
